.advert {
  height: 250px;

  display: flex;
  align-items: stretch;
  justify-content: space-between;

  margin: 5px 0;

  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;

  &__image {
    display: flex;
    justify-content: center;

    width: 30%;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
    }
    .label {
      position: absolute;
      top: 10px;
      left: 10px;

      padding: 8px 5px 5px;

      background-color: #f73437;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
  }
  &__info{
    width: 50%;
    padding: 15px;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .location,
    .location-title {
      margin-bottom: 5px;
    }
  }
  &__amount{
    width: 20%;

    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #edebeb;
    position: relative;
  }

  &__price {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &__payment {
    font-size: 22px;
    font-weight: bold;
    &.without-discount {
      color: #f73437;
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  &__see-offer{
    flex-grow: 0;

    width: 100%;
    padding: 15px;

    background-color: #00a07a;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

}
