<div class="advert" *ngIf="advert">
  <div class="advert__image">
    <img [src]="advert.info.img ? 'https://img1.night2stay.com' + advert.info.img : 'https://www.grouphealth.ca/wp-content/uploads/2018/05/placeholder-image.png'" [alt]="advert.info.name">
    <div *ngIf="advert.items[0][0].discount > 0" class="label">Секономьте {{ advert.items[0][0].discount }}%</div>
  </div>
  <div class="advert__info">
    <div class="title" [innerHTML]="advert.info.name"></div>
    <app-rating [rating]="advert.info.cat"></app-rating>
    <div class="location-title">Расположенеи</div>
    <div class="location" [innerHTML]="advert.info.addr"></div>
  </div>
  <div class="advert__amount">
    <div class="advert__price">
      <div *ngIf="advert.items[0][0].discount > 0" class="advert__payment without-discount" [innerHTML]="advert.items[0][0].commerce.payment + ' RUB'"></div>
      <div class="advert__payment" [innerHTML]="advert.items[0][0].commerce.tpayment + ' RUB'"></div>
    </div>
    <button class="advert__see-offer" (click)="seeOffer()">Посмотреть</button>
  </div>
</div>
