.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;
  padding: 5px 0;

  &__item {
    @size: 15px;

    height: @size;
    width: @size;

    margin-right: @size / 5;
    svg {
      width: 100%;
      fill: #ffc400;
    }
  }
}
