<div class="list" [ngClass]="advertList?.length > 0 ? 'found' : 'not-found'" >

  <ng-container *ngIf="!backendWait; else searching">

    <ng-container *ngIf="advertList?.length > 0; else notFound;">
        <div class="list__item" *ngFor="let item of advertList">
            <app-advert [advert]="item"></app-advert>
          </div>
    </ng-container>

    <ng-template #notFound>К сожалению, ничего не найдено</ng-template>
  </ng-container>

  <ng-template #searching>Поиск...</ng-template>

</div>
