
.list {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  max-width: 1200px;
  margin: 10px auto;
  padding: 10px;

  border: 1px solid grey;

  &.found {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: #1f1e1e;
  }

}
