/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import 'app/styles/_reset';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
